<!doctype html>

<html>

<head>

	<title>Node Authentication</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<style>

		body 		{ padding-top:80px; word-wrap:break-word; }

		.modal {
		    display: none; /* Hidden by default */
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    padding-top: 100px; /* Location of the box */
		    left: 0;
		    top: 0;
		    width: 100%; /* Full width */
		    height: 100%; /* Full height */
		    overflow: auto; /* Enable scroll if needed */
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}

		/* Modal Content */
		.modal-content {
		    background-color: #fefefe;
		    margin: auto;
		    padding: 20px;
		    border: 1px solid #888;
		    width: 80%;
		}

		/* The Close Button */
		.close {
		    color: #aaaaaa;
		    float: right;
		    font-size: 28px;
		    font-weight: bold;
		}

		.close:hover,
		.close:focus {
		    color: #000;
		    text-decoration: none;
		    cursor: pointer;
		}

		table {
		    border-collapse: collapse;
		    width: 100%;
		}

		th, td {
		    text-align: left;
		    padding: 8px;
		    overflow: auto;
		    max-width: 155px;
		    max-height: 45px;
		}

		td {
			overflow: auto;
		}

		td:last-child {
			padding: 8px 0px;
		}

		.overlay {  
		  display: none;
		  justify-content: center;
		  align-items: center;
		  position: absolute;
		  z-index: 2;
		  opacity: 1;
		  margin: -1px 0px -1px -1px;
		  background: rgba(39, 42, 43, 0.8);
		  transition: opacity 200ms ease-in-out;
		  border-radius: 4px;
		  &:hover {
		    opacity: 1;
		  }
		}

		.custom-file-label {
			overflow: hidden;
		}

		.progress{
			width: 90%;
			height: 26px;
		}

		#percent{
			position: absolute;
		    left: 44%;
		    top: 46%;
		}

		#box {
		   width:100%;
		   height:100%;
		}

		#box img {
			width :100%;
		}

		.btn-to-link{
			background:none!important;
		    color:inherit;
		    border:none; 
		    padding:0!important;
		    font: inherit;
		}

		.bigScreen{
			display: inline-flex;
		}

	</style>

</head>

<body class="bg-dark text-white">
<div class="container">



	<div class="pb-2 mt-2 mb-2 border-bottom text-center">

		<h1><span class="fa fa-anchor text-info"></span> Profile Page</h1>

		<a href="/auth/player" class="btn btn-secondary btn-sm">Player</a>
	    <a href="/auth/main" class="btn btn-secondary btn-sm">Home</a>

		<a href="/auth/logout" class="btn btn-secondary btn-sm">Logout</a>

	</div>



	<div class="row">



		<!-- LOCAL INFORMATION -->
		<div class="container">				
			
				<div class="card-deck">

					<div class="card text-white bg-secondary">
						<div class="card-header bg-transparent">	
							<h3><span class="fa fa-user"></span> Local</h3>
						</div>
						<div class="card-body">
						    


							<p>

								<strong>id</strong>: <%= user._id %><br>

								<strong>username</strong>: <%= user.username %><br>

								<strong>password</strong>: <%= user.password %><br>

								<strong>email</strong>: <%= user.email %><br>

								<strong>name</strong>: <%= user.name %>

							</p>

						</div>
					</div>

					<div class="card text-white bg-secondary">
						<div class="overlay" id="overlay">
							<!-- <div class="bg-primary pb-2 pt-2 pr-3 pl-3 text-center rounded">
								<i class="fa fa-refresh fa-spin" style="font-size:32px"></i>
							</div> -->
							<div class="progress">
								<div class="text-dark font-weight-bold" id="percent">0%</div>
								<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="progress-bar"></div>
							</div>
						</div>
						<div class="card-header bg-transparent">
							<h3><span class="fa fa-cloud-upload-alt"></span> File Upload</h3>
						</div>
						<div class="card-body">
							
			        		<form id="fileUpload" action="/auth/upload" class="form" method="post" name="fileUpload" enctype="multipart/form-data">
				        		<div class="custom-file mb-3">
				        			<input id="fileInputGroup" type="file" class="custom-file-input" name="file" required="true" multiple></input>
				        			<label class="custom-file-label" for="fileInputGroup">Choose files</label>
				            	</div>
				        		<button name="fileSubmit" type="submit" class="btn btn-primary">Submit</button>
								<span id="myBtn" class="btn btn-danger">Delete Account</span>
								
			        		</form>
						</div>
					</div>

				</div>
				<div class="card-deck mt-2">
					
					<div class="card text-white bg-secondary">
						<div class="overlay" id="overlay">
							<!-- <div class="bg-primary pb-2 pt-2 pr-3 pl-3 text-center rounded">
								<i class="fa fa-refresh fa-spin" style="font-size:32px"></i>
							</div> -->
							<div class="progress">
								<div class="text-dark font-weight-bold" id="percent">0%</div>
								<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="progress-bar"></div>
							</div>
						</div>
						<div class="card-header bg-transparent">
							<h3><span class="fa fa-address-card"></span> Users</h3>
						</div>
						<div class="card-body">
							
			        		<% if(userlist.length != 0){ %>
			        			<table class="table-sm table-dark table-hover">
			        				<thead class="thead-dark">
			        					<tr>
			        						<th class="font-weight-bold">#</th>
			        						<th>Username</th>
			        						<th>Status</th>
			        						<th>Actions</th>
			        					</tr>
			        				</thead>
			        				<tbody>
			        			<% userlist.forEach(function(user, i){ %>
				        				<tr>
				        					<td class="font-weight-bold"><%=i+1%></td>
				        					<td><%=user.username%></td>
				        					<td class="text-success">Online</td>
				        					<td>
				        						<button class="btn btn-success ml-1">Request Connection</button>
				        					</td>
				        				</tr>
			        			<% }) %>
			        				</tbody>
			        			</table>
			        		<% }else if(userlist.length == 0 || userlist == null){%>
			        			<p>No users found</p> 
			        		<%}%>
						</div>
					</div>

				</div>

		</div>
		<div class="col-md-12 mt-2">
			<div class="border-bottom mb-1">
				<h2 class="text-center">Files</h2>
			</div>
			<% if(files){ %>
			<div class="table-responsive">				
			<table class="table table-striped table-dark">
				<thead class="thead-dark">
					<tr>
						<th>Name</th>
						<th>Upload Date</th>
						<th>Actions</th>
					</th>
				</thead>
				<tbody id="tbody">
				<% files.forEach(function(file){ %>
					<% var afterSlash = /([^/]+)$/; %>
					<% var filename = file.filename.match(afterSlash); %>
						<tr id="file" class="file MainList 
						<% if(filename.index != 0){ %>
						bg-success
						<% } %>
						" name="<%= file.filename %>">
							<td style="overflow: auto;">
								<%= filename[0] %>
							</td>
							<td style="overflow: auto;">
								<%= file.uploadDate %>
							</td>
							<td style="padding: 8px 0px; overflow: visible;">
								<div class="bigScreen col-md-12">
									<div class="dropdown">
									  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
									  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									    <form action="/auth/file/<%=file.filename%>/<%=file._id%>" class="dropdown-item" method="post" style="">
											<button class="btn-to-link" type="submit" style="-webkit-appearance: inherit; cursor: pointer;">Download</button>
										</form>
									    <form action="/auth/file/remove/<%=file.filename%>/<%=file._id%>" class="dropdown-item" method="post" style="">
											<button class="btn-to-link" type="submit" style="-webkit-appearance: inherit; cursor: pointer;">Delete</button>
										</form>
									    <a class="dropdown-item" href="#">Something else here</a>
									  </div>
									</div>
									<!-- Different style of download and delete -->
									<!-- <form action="/auth/file/<%=file.filename%>/<%=file._id%>" class="mr-1" method="post">
										<a type="submit" class="btn btn-primary">Download</a>
									</form>
									<form style="padding: 0px; display: inline" action="/auth/file/remove/<%=file.filename%>/<%=file._id%>" class="" method="post">
										<button type="submit" class="btn btn-danger">Delete</button>
									</form> -->
									<button id="showPicture" class="btn btn-primary" onclick="showPicture('<%=file.filename %>', '<%= file._id %>')">Show Picture</button>
								</div>
								<div id="box">
								   <div id="show<%=file._id%>">
								   </div>
								</div>
							</td>
						</tr>
				<% }) %>
				<% }if(files == ""){ %>
					<tr class="table-secondary">
						<td class="text-center font-weight-bold text-danger" colspan="3">No files found</td>
					</tr>
				<% } %>
				</tbody>
			</table>
			</div>
		</div>



	</div>



</div>
<div id="myModal" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>
		<p class="text-dark">Are you sure you want to deactivate your account?</p>
		<form action="/auth/goodbye" method="post">
			<button type="submit" class="btn btn-danger"><span class="fa fa-frown-o"></span> Yes</button>  <h3 onclick="closeModal()" class="btn btn-success mt-2"><span class="fa fa-smile-o"></span> No</h3>
		</form>
	</div>

</div>
<div id="addFolder-modal" class="modal text-dark">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>
		<p class="text-dark">Enter folder name</p>
		<div class="form-group">	
			<input type="text" class="form-control" name="folderName"/>
			<button class="btn btn-success" onclick="addFolder()">Add Folder</button>
		</div>
	</div>
	
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
	var socket = io('/auth/profile', { query: "username=<%=user.username%>" });
	var sessionid;
	socket.on('connect', function(data){
		var currentUser = "<%=user.username%>";
		sessionid = socket.io.engine.id;
		
		console.log("sending online status");
		socket.emit('online', currentUser.toUpperCase());

		// function sendOnlineStatus(){
		// 	console.log("sending online status");
		// 	socket.emit('online', currentUser.toUpperCase());
		// }

		// setTimeout(sendOnlineStatus, 1000);
	});

	socket.on('file-data', function(data){
		data = data.toString();

		$("#progress-bar").width(data+"%");
		$("#percent").text(data+"%")
	});

	socket.on('file-finished', function(data){
		
		$("#overlay").hide();

		$('#tbody').append($('<tr>').addClass("MainList")
		.append($('<td>').text(data.filename))
		.append($('<td>').text(data.date))
		.append($('<td>').append($('<div>').addClass("btn-group bigScreen col-md-12").append($('<form>').attr('action', `/auth/file/${data.filename}/${data.id}`).attr('method', 'post').addClass("mr-1").append($('<button>').text("Download").addClass("btn btn-primary"))).append($('<form>').attr('action', `/auth/file/remove/${data.filename}/${data.id}`).attr('method', 'post').append($('<button>').text("Delete").addClass("btn btn-danger"))))));

	})

	// Get the modal
	var modal = document.getElementById('myModal');
	var addFolderModal = document.getElementById('addFolder-modal');

	// Get the button that opens the modal
	var btn = document.getElementById("myBtn");
	var btn2 = document.getElementById("addFolder");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on the button, open the modal
	btn.onclick = function() {
		modal.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
		modal.style.display = "none";
	}

	function closeModal(){
		modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == modal || event.target == addFolderModal) {
				modal.style.display = "none";
				addFolderModal.style.display = "none";
		}
	}

	function overlayOn() {
	    document.getElementById("overlay").style.display = "block";
	}

	function overlayOff() {
	    document.getElementById("overlay").style.display = "none";
	}

	var sizeTheOverlays = function() {
	    $(".overlay").resize().each(function() {
	    var h = $(this).parent().outerHeight();
	    var w = $(this).parent().outerWidth();
	    $(this).css("height", h);
	    $(this).css("width", w);
	  });
	};

	sizeTheOverlays();


	var width = $(window).width();
	$(window).resize(function(){
	   if($(this).width() != width){
	      width = $(this).width();
	      sizeTheOverlays();
	   }
	});

	$('#fileInputGroup').on('change',function(){
        //get the file name
        var filesLength = $('#fileInputGroup').get(0).files.length;
        var fileName = $(this).val();
        var showThis;
        console.log(filesLength)
        //replace the "Choose a file" label
        if(filesLength > 1){
    		showThis = filesLength + " files selected";
    	}else{
    		showThis = fileName;
    	}
        $(this).next('.custom-file-label').html(showThis);
    });

	function addFolder(){
		var name = $('[name="folderName"]').val();
		addFolderModal.style.display = "none";
		$('[name="folderName"]').val("");

		$.post("/auth/<%=user.id%>/addFolder", {name: name}, function(data){

		});

	}

	$('[name="fileUpload"]').on('submit', function(e){
		e.preventDefault();
		document.getElementById("overlay").style.display = "flex";
		var form = new FormData(this);
		form.append("socketid", sessionid);
	    $(".custom-file-input").attr("hidden", "hidden");
	    $.ajax({
		    url: "/auth/upload", 
		    type: "POST",             
		    data: form,
		    contentType: false,       
		    cache: false,             
		    processData:false, 
		    success: function(data) {
		    }
		});

		// $.post('/auth/upload', $('[name="fileUpload"]').serialize(), function(data){

		// });
	});

	function showPicture(filename, id){

		$.post("/auth/picture", {filename: filename, id: id}, function(data){
			var img = data;
			var where = "#show"+id;
			$(where).append(data);
		})
	}



</script>

</body>

</html>
