<!doctype html>

<html>

<head>

	<title>Node Authentication</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> <!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>

		body 		{ padding-top:80px; word-wrap:break-word; }

		.modal {
		    display: none; /* Hidden by default */
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    padding-top: 100px; /* Location of the box */
		    left: 0;
		    top: 0;
		    width: 100%; /* Full width */
		    height: 100%; /* Full height */
		    overflow: auto; /* Enable scroll if needed */
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}

		/* Modal Content */
		.modal-content {
		    background-color: #fefefe;
		    margin: auto;
		    padding: 20px;
		    border: 1px solid #888;
		    width: 80%;
		}

		/* The Close Button */
		.close {
		    color: #aaaaaa;
		    float: right;
		    font-size: 28px;
		    font-weight: bold;
		}

		.close:hover,
		.close:focus {
		    color: #000;
		    text-decoration: none;
		    cursor: pointer;
		}

		table {
		    border-collapse: collapse;
		    width: 100%;
		}

		th, td {
		    text-align: left;
		    padding: 8px;
		    overflow: auto;
		    max-width: 155px;
		    max-height: 45px;
		}

		td {
			overflow: auto;
		}

		td:last-child {
			padding: 8px 0px;
		}

		.overlay {  
		  display: none;
		  justify-content: center;
		  align-items: center;
		  position: absolute;
		  z-index: 2;
		  opacity: 1;
		  margin: -1px 0px -1px -1px;
		  background: rgba(39, 42, 43, 0.8);
		  transition: opacity 200ms ease-in-out;
		  border-radius: 4px;
		  &:hover {
		    opacity: 1;
		  }
		}

		.custom-file-label {
			overflow: hidden;
		}

	</style>

</head>

<body class="bg-dark text-white">
<div class="container">



	<div class="pb-2 mt-2 mb-2 border-bottom text-center">

		<h1><span class="fa fa-anchor text-info"></span> Profile Page</h1>

	    <a href="/auth/main" class="btn btn-secondary btn-sm">Home</a>

		<a href="/auth/logout" class="btn btn-secondary btn-sm">Logout</a>

	</div>



	<div class="row">



		<!-- LOCAL INFORMATION -->
		<div class="container">
			<div>
				
			
				<div class="card-deck">

					<div class="card text-white bg-secondary">
						<div class="card-header bg-transparent">	
							<h3><span class="fa fa-user"></span> Local</h3>
						</div>
						<div class="card-body">
						    


							<p>

								<strong>id</strong>: <%= user._id %><br>

								<strong>username</strong>: <%= user.username %><br>

								<strong>password</strong>: <%= user.password %><br>

								<strong>email</strong>: <%= user.email %><br>

								<strong>name</strong>: <%= user.name %>

							</p>

						</div>

					</div>
					<div class="card text-white bg-secondary">
						<div class="overlay" id="overlay">
							<div class="bg-primary pb-2 pt-2 pr-3 pl-3 text-center rounded">
							<i class="fa fa-refresh fa-spin" style="font-size:32px"></i>
							</div>
						</div>
						<div class="card-header bg-transparent">
							<h3><span class="fa fa-mail-forward"></span> File Upload</h3>
						</div>
						<div class="card-body">
							
			        		<form id="fileUpload" action="/auth/upload" class="form" method="post" enctype="multipart/form-data">
				        		<div class="custom-file mb-3">
				        			<input id="fileInputGroup" type="file" class="custom-file-input" name="file" required="true" multiple></input>
				        			<label class="custom-file-label" for="fileInputGroup">Choose files</label>
				            	</div>
				        		<button type="submit" class="btn btn-primary">Submit</button>
								<span id="myBtn" class="btn btn-danger">Delete Account</span>
								<button id="addFolder" class="btn btn-dark" onclick="addFolder()">Add Folder</button>
			        		</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 mt-2">
			<div class="border-bottom mb-1">
				<h2 class="text-center">Files</h2>
			</div>
			<% if(files){ %>
			<table class="table table-striped table-dark">
				<thead class="thead-dark">
					<tr>
						<th>Name</th>
						<th>Upload Date</th>
						<th>Actions</th>
					</th>
				</thead>
				<tbody>
				<% files.forEach(function(file){ %>
					<tr id="file" class="MainList" name="<%= file.filename %>">
						<td style="overflow: auto;">
							<%= file.filename %>
						</td>
						<td style="overflow: auto;">
							<%= file.uploadDate %>
						</td>
						<td style="padding: 8px 0px">
							<div class="btn-group bigScreen col-md-12">
								<form action="/auth/file/<%=file.filename%>/<%=file._id%>" class="mr-1" method="post">
									<button type="submit" class="btn btn-primary">Download</button>
								</form>
								<form style="padding: 0px; display: inline" action="/auth/file/remove/<%=file.filename%>/<%=file._id%>" class="" method="post">
									<button type="submit" class="btn btn-danger">Delete</button>
								</form>
							</div>
						</td>
					</tr>
				<% }) %>
				<% }if(files == ""){ %>
					<tr class="table-secondary">
						<td class="text-center font-weight-bold text-danger" colspan="3">No files found</td>
					</tr>
				<% } %>
				</tbody>
			</table>
		</div>



	</div>



</div>
<div id="myModal" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>
		<p class="text-dark">Are you sure you want to deactivate your account?</p>
		<form action="/auth/goodbye" method="post">
			<button type="submit" class="btn btn-danger"><span class="fa fa-frown-o"></span> Yes</button>  <h3 onclick="closeModal()" class="btn btn-success mt-2"><span class="fa fa-smile-o"></span> No</h3>
		</form>
	</div>

</div>
<div id="addFolder-modal" class="modal text-dark">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>
		<p class="text-dark">Enter folder name</p>
		<div class="form-group">	
			<input type="text" class="form-control" name="folderName"/>
			<button class="btn btn-success" onclick="addFolder()">Add Folder</button>
		</div>
	</div>
	
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
	// Get the modal
	var modal = document.getElementById('myModal');
	var addFolderModal = document.getElementById('addFolder-modal');

	// Get the button that opens the modal
	var btn = document.getElementById("myBtn");
	var btn2 = document.getElementById("addFolder");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on the button, open the modal
	btn.onclick = function() {
		modal.style.display = "block";
	}

	btn2.onclick = function() {
		addFolderModal.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
		modal.style.display = "none";
	}

	function closeModal(){
		modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == modal || event.target == addFolderModal) {
				modal.style.display = "none";
				addFolderModal.style.display = "none";
		}
	}

	function overlayOn() {
	    document.getElementById("overlay").style.display = "block";
	}

	function overlayOff() {
	    document.getElementById("overlay").style.display = "none";
	}
	$("#fileUpload").on("submit", function(e){
	    document.getElementById("overlay").style.display = "flex";
	    $(".custom-file-input").attr("hidden", "hidden");
	});

	var sizeTheOverlays = function() {
	    $(".overlay").resize().each(function() {
	    var h = $(this).parent().outerHeight();
	    var w = $(this).parent().outerWidth();
	    $(this).css("height", h);
	    $(this).css("width", w);
	  });
	};

	sizeTheOverlays();


	var width = $(window).width();
	$(window).resize(function(){
	   if($(this).width() != width){
	      width = $(this).width();
	      sizeTheOverlays();
	   }
	});

	$('#fileInputGroup').on('change',function(){
        //get the file name
        var filesLength = $('#fileInputGroup').get(0).files.length;
        var fileName = $(this).val();
        var showThis;
        console.log(filesLength)
        //replace the "Choose a file" label
        if(filesLength > 1){
    		showThis = filesLength + " files selected";
    	}else{
    		showThis = fileName;
    	}
        $(this).next('.custom-file-label').html(showThis);
    });

	function addFolder(){
		var name = $('[name="folderName"]').val();
		addFolderModal.style.display = "none";
		$('[name="folderName"]').val("");

		$.post("/auth/<%=user.id%>/addFolder", {name: name}, function(data){

		});

	}
</script>

</body>

</html>
